<!doctype html>
<html
    lang="{{ site.Language.LanguageCode }}"
    dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
    <head>
        {{ partial "head.html" . }}
    </head>
    {{ $paper := (resources.Get "images/paper.svg") }}
    <body
        class="container min-h-screen max-w-6xl mx-auto bg-stone-50 bg-repeat text-stone-950 *:p-2 *:mx-2"
        style="background-image: url({{ $paper.RelPermalink }});"
    >
        <header
            class="sticky top-2 z-10 h-12 bg-stone-50/75 backdrop-blur-sm backdrop-brightness-105 border border-current/20 rounded-xl"
        >
            {{ partial "header.html" . }}
        </header>
        <main class="**:target:scroll-mt-16">
            {{ block "main" . }}{{ end }}
        </main>
        <footer class="sticky top-full my-8">
            {{ partial "footer.html" . }}
        </footer>
    </body>
</html>
