{{ define "main" }}
<section class="my-12">
    <h1>{{ .Title }}</h1>
</section>
<section class="lg:flex lg:flex-row-reverse lg:items-start gap-8">
    <div
        class="hidden lg:block lg:flex-none w-3xs highlight sticky top-22 my-0"
    >
        <h6 class="mt-0 border-b border-inherit">Links</h6>
        <ul class="[&_li]:list-decimal">
            <li><a href="/resume">Resume</a></li>
            <li><a href="mailto:blog@rlibaert.dev">Contact</a></li>
            <li><a href="https://github.com/rlibaert">GitHub</a></li>
            <!--<li>-->
            <!--<a href="https://linkedin.com/in/romain-libaert">LinkedIn</a>-->
            <!--</li>-->
        </ul>
    </div>
    <div class="min-w-0">{{ .Content }}</div>
</section>
{{ end }}
