{{ define "main" }}
<section class="my-12">
    <h1>{{ .Title }}</h1>
</section>
<section class="lg:flex lg:flex-row-reverse lg:items-start gap-8">
    <div class="hidden lg:block lg:flex-none w-3xs sticky top-22">
        <h6 class="mt-0">Links</h6>
        <div class="border-l border-current/30 [&_li]:list-none">
            <ul>
                <li><a href="/resume">Resume</a></li>
                <li><a href="mailto:blog@rlibaert.dev">Contact</a></li>
                <li><a href="https://github.com/rlibaert">GitHub</a></li>
                <!--<li>-->
                <!--<a href="https://linkedin.com/in/romain-libaert">LinkedIn</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
    <div class="min-w-0">{{ .Content }}</div>
</section>
{{ end }}
