:root {
    --color-000: oklch(0.99 0.01 132);
    --color-400: oklch(0.63 0.13 132);
    --color-500: oklch(0.5 0.11 132);
    --color-600: oklch(0.38 0.08 132);
    --color-700: oklch(0.25 0.05 132);
}

@font-face {
    font-family: "SUSE";
    src: url("/fonts/SUSE[wght].woff2");
}

@font-face {
    font-family: "Ovo";
    src: url("/fonts/Ovo-Regular.ttf");
}

@font-face {
    font-family: "Spleen";
    src: url("/fonts/spleen-32x64.otf");
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: SUSE, sans-serif;
    line-height: 1.3;
    color: var(--color-700);
    background-color: var(--color-000);
}

:is(h1, h2) {
    font-family: Ovo, serif;
    color: var(--color-500);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
:is(h3, h4) {
    font-family: Ovo, serif;
    color: var(--color-600);
    margin-top: 1.25rem;
    margin-bottom: 1rem;
}
:is(h5, h6) {
    font-family: Ovo, serif;
    color: var(--color-700);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

code {
    font-family: Spleen, monospace;
    font-weight: 900;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding-left: 1.5rem;
}

header {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
        list-style-type: none;
        display: flex;
        gap: 1rem;
        margin: 0.5rem 0;
        padding: 0;
    }
    li {
        font-weight: 900;
        text-transform: uppercase;
        padding: 0.125rem 0.375rem;
        color: var(--color-000);
        background-color: var(--color-700);
        border: 0.125rem solid var(--color-700);
        border-radius: 0.25rem;
        &:is(:hover, :focus, :active) {
            color: var(--color-700);
            background-color: var(--color-000);
        }
    }
}

footer {
    opacity: 0.3;
    font-size: 0.75rem;
    text-align: center;
    line-height: 0.5;
    padding-block: 1rem 2rem;
    a {
        text-decoration: underline;
    }
    position: sticky;
    top: 100vh;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
    a {
        text-decoration: underline dashed;
    }
    a:is(:hover, :focus, :active) {
        text-decoration: underline;
    }
    p {
        text-align: justify;
    }
    .highlight > pre {
        padding: 1rem;
        border-radius: 0.25rem;
        overflow-x: scroll;
    }
}

#home {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    svg {
        width: 2.25rem;
        height: 2.25rem;
    }
    div {
        font-size: 1.75rem;
        font-weight: 300;
    }
    filter: drop-shadow(0px 0px 1.5px var(--color-700));
    &:hover {
        scale: 1.03;
        filter: drop-shadow(0px 0px 2px var(--color-700));
        transition: 200ms;
    }
}
