@import "tailwindcss";

@font-face {
    font-family: "SUSE";
    src: url("/fonts/SUSE[wght].woff2");
}

@font-face {
    font-family: "Ovo";
    src: url("/fonts/Ovo-Regular.ttf");
}

@font-face {
    font-family: "Spleen";
    src: url("/fonts/spleen-32x64.otf");
}

@theme {
    --font-serif: Ovo, serif;
    --font-sans: SUSE, sans-serif;
    --font-mono: Spleen, monospace;
}

@layer base {
    h1 {
        @apply mt-8 mb-2 contrast-125 font-serif font-semibold text-5xl;
    }
    h2 {
        @apply mt-8 mb-2 contrast-125 font-serif font-semibold text-4xl;
    }
    h3 {
        @apply mt-8 mb-2 contrast-125 font-serif font-medium text-3xl;
    }
    h4 {
        @apply mt-8 mb-2 contrast-125 font-serif font-medium text-2xl;
    }
    h5 {
        @apply mt-8 mb-2 contrast-125 font-serif font-normal text-xl;
    }
    h6 {
        @apply mt-8 mb-2 contrast-125 font-serif font-normal text-lg;
    }
    p {
        @apply mt-0 mb-2 text-justify font-sans;
    }
    code {
        @apply font-black;
    }
    ul {
        @apply list-disc ml-4;
    }
    .highlight {
        backdrop-filter: brightness(102%);
        border: 1px solid rgba(from currentColor r g b / 0.3);
        border-radius: 0.5rem;
        margin-block: 1rem;
        padding: 0.5rem;
    }
    pre {
        @apply overflow-x-scroll;
    }
}
