<div class="flex items-center justify-between h-full">
    <a
        href="/"
        class="flex items-center gap-1 h-full text-2xl font-light drop-shadow-[0_0_1px_currentColor]"
    >
        {{ $logo := (resources.Get "images/logo.svg") }}
        <span
            class="inline-block h-full aspect-square bg-current scale-90"
            style="mask-image: url('{{ $logo.RelPermalink }}')"
        ></span>
        {{ .Site.Title }}
    </a>
    <ul class="flex gap-4 mr-2 list-none">
        {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
    </ul>
</div>
